<h1>Listing tenures</h1>

<table>
  <tr>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tenures.each do |tenure| %>
  <tr>
    <td><%= tenure.start %></td>
    <td><%= tenure.end %></td>
    <td><%= link_to 'Show', tenure %></td>
    <td><%= link_to 'Edit', edit_tenure_path(tenure) %></td>
    <td><%= link_to 'Destroy', tenure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tenure', new_tenure_path %>
