<h1>Listing metropolis</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Population</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @metropolis.each do |metropoli| %>
  <tr>
    <td><%= metropoli.name %></td>
    <td><%= metropoli.population %></td>
    <td><%= link_to 'Show', metropoli %></td>
    <td><%= link_to 'Edit', edit_metropoli_path(metropoli) %></td>
    <td><%= link_to 'Destroy', metropoli, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Metropoli', new_metropoli_path %>
