<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @metropoli.name %>
</p>

<p>
  <b>Population:</b>
  <%= @metropoli.population %>
</p>


<%= link_to 'Edit', edit_metropoli_path(@metropoli) %> |
<%= link_to 'Back', metropolis_path %>
