<%= form_for(@us_code_title) do |f| %>
  <% if @us_code_title.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@us_code_title.errors.count, "error") %> prohibited this us_code_title from being saved:</h2>

      <ul>
      <% @us_code_title.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
