<h1>Listing us_code_titles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @us_code_titles.each do |us_code_title| %>
  <tr>
    <td><%= us_code_title.name %></td>
    <td><%= us_code_title.text %></td>
    <td><%= link_to 'Show', us_code_title %></td>
    <td><%= link_to 'Edit', edit_us_code_title_path(us_code_title) %></td>
    <td><%= link_to 'Destroy', us_code_title, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Us code title', new_us_code_title_path %>
